@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400&family=Roboto:wght@300;400;500&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: #96C2CC;
    align-items: center;

    height: 85px;
    color: #fff;
}

.navbar__sections {
    display: flex;
    flex-direction: row;
    width: 1128px;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
}

.navbar__links__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__link a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    margin-right: 14px;

}

.navbar__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar__phone {
    display: flex;
    flex-direction: row;
    /* margin-top: 4px; */
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.navbar__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.navbar__contact__icon {
    margin-right: 4px;
    padding-top: 2px;
}

.order__call__button {
    width: 173px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.1s ease-in-out;
}

.order__call__button:hover {
    background: #fff;
    color: #96C2CC;
}


/* main */
.main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #96C2CC;
    height: 90vh;
    background: url(./components/Icons/bg.png) no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1128px;
    margin: 0 auto;
}

.main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 25px;
}

.main__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.bold {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.main__button {
    width: 367px;
    margin-top: 36px;
    height: 57px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto';
    transition: all 0.1s ease-in-out;
}

.main__button:hover {
    background: #fff;
    color: #96C2CC;
}

.about__factory__parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 112px;
    margin-bottom: 115px;
    align-items: center;
    color: #141F38;
}

.about__factory__left {
    width: 50%;
    margin-right: 117px;
}

.about__factory__images {
    width: 463px;
    height: 521px;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

.about__factory__right__title {
    margin-bottom: 40px;
}

li {
    line-height: 42px;
}

.factory__bold {
    font-weight: 500;
}

.about__factory__right__title {
    color: #000918;
}

.advantages__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #96C2CC;
    height: 100vh;
    background-size: cover;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.advantages__item {
    width: 340px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.advantages__text {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advatanges__title {
    margin-bottom: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.advantages__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.advantages__main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.prices__section {
    height: 100vh;
}

.prices__main__title {
    padding-top: 83px;
}

.prices__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 47px;
}

.pricec__item {
    width: 270px;
    border: 0.5px solid #00000099;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__logo {
    padding-top: 20px;
    padding-bottom: 23px;
}

.prices__main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    text-align: center;
    margin-top: 90px;
}

.prices__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.prices__buy__button {
    width: 100%;
    background: #96C2CC;
    height: 62px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* margin-top: 27px; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.prices__buy__button:hover {
    color: #fff;
    background: #00000099;
}

.prices__subtitle {
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.prices__item__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button__all__prices {
    margin-bottom: 20px;
    margin-top: 80px;
    width: 367px;
    height: 58px;
    border-radius: 30px;
    border: 2px solid #162E33;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button__all__prices:hover {
    background: #162E33;
    color: #fff;
}

.reviews__section {
    background: #96C2CC;
    height: 480px;
    padding-bottom: 83px;
}

.reviews__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 66px;
}

.review__item {
    width: 367px;
    height: 230px;
    border-radius: 20px;
    border: 1px solid #00000099;
    background: #FFFFFF;
    border: 0.51px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    padding-left: 30px;
}

.review__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 15px;
}

.review__top__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.review__top__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    color: #141F38;
}

.review__top__position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #141F38;
}

.review__bottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #141F38;
}

.reviews__main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    color: #141F38;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 63px;
}

.more__information__section {
    padding-top: 78px;
    padding-bottom: 78px;
}

.more__information__section__main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    text-align: center;
    color: #141F38;
    margin-bottom: 91px;
}

.more__information__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 73px;
}

.more__information__item {
    width: 362px;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.miitem__center {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #96C2CC;
}

.more__information__section__main__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #141F38;
}

.miitem__top,
.miitem__bot {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #141F38;
}

.more__information__section__ul {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.underline__bold {
    text-decoration-line: underline;
    color: #141F38;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.contact__us__section {
    background: url('./components/Icons/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 635px;
    padding-top: 120px;
}

.form__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 49px;
    padding-top: 49px;
}

.form__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 63px;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.input {
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding: 10px;
}

.name {
    margin-right: 42px;
}

.input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    font-weight: 500;
    /* Firefox */
}

.button__form {
    width: 367px;
    height: 58px;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.accordion-title {
    display: flex;
    flex-direction: row;
}

.plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #96C2CC;
    margin-right: 10px;
    color: #96C2CC;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    margin-top: 72px;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.accordion-content {
    padding-left: 40px;
    /* padding-bottom: 20px; */
}

.faq {
    height: 700px;
}

.accordion-item {
    /* height: 88px; */
    border-bottom: 2px solid #96C2CC;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.certificates__item {
    width: 251px;
    height: 350px;
    border: 10px solid #1C3940;
}

.imgcert {
    width: 100%;
    height: 100%;
}

.certificates {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 65px;
}

.certificates__section {
    background: rgba(150, 194, 204, 0.6);
}

.people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
    margin-bottom: 65px;
}

.person__img {
    width: 173px;
    height: 173px;
    margin-bottom: 24px;
}

.person {
    width: 362px;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.person__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.reviews__main__subtitle {
    text-align: center;
    padding-top: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #141F38;
}

.person__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141F38;
}

.person__position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141F38;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
    margin-bottom: 65px;
}

.brand {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-decoration: none;
    color: #000918;
}

.contact__icon {
    margin-right: 10px;
}

.address__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.address__contact svg {
    width: 25px;
    margin-right: 10px;
}

.call {
    margin-bottom: 10px;
    margin-top: 30px;
}

.address__contact {
    margin-top: 25px;
}

.address {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.map__frame {
    width: 450px;
    height: 290px;
}

.footer__section {
    background: #96C2CC;
    margin-top: 160px;
    height: 430px;
}

.footer__logo__left {
    width: 260px;
    height: 109px;
    object-fit: contain;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.footer__left__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    width: 455px;
    padding-top: 31px;
}

.left__text__bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}

.footer__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.footer__link a {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.footer__link {
    margin-top: 30px;
}

.footer__links {
    width: 40%;
}

.contact {
    color: #fff;
}

.footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__contact svg {
    margin-right: 10px;
}

.footer__right__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    margin-top: 30px;
    padding-bottom: 20px;

    color: #FFFFFF;
}